@font-face {
  font-family: "NunitoExtra";
  src: url("Nunito-ExtraBold.ttf.woff");
}
@font-face {
  font-family: "Nunito";
  src: url("Nunito-Regular.ttf.woff");
}

* {
  font-family: "Nunito";
  margin: 0px;
  padding: 0px;
  outline: 0;
}
.header {
  display: flex;
  box-shadow: 0px 2px grey;
  justify-content: space-between;
}
.logo {
  width: 5%;
  height: 5%;
  margin: 0;
  padding: 0;
  justify-self: flex-start;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 5px;
  border-width: 0;
}
.menu ul > li:hover {
  background: orange;
  border-style: groove;
}
.menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: orange;
  padding: 0;
}
.menu ul ul li {
  float: initial;
  width: 150px;
}

.menu ul ul li:hover {
  background-color: white;
}
.menu ul li:hover > ul {
  display: contents;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}
.livedemo-menu {
  list-style-type: none;
  display: none;
  position: absolute;
  padding: 0;
  float: none;
}
.livedemo-menu:hover {
  display: block;
  position: relative;
  float: none;
}
.button--buy {
  border-style: groove;
  border-width: thin;
  border-color: orange;
  border-radius: 10% 10% 10% 0%;
}
.button--buy:hover {
  background-color: orange;
  color: white;
  border-radius: 30%;
}
.main {
  display: flex;
  flex-direction: column;
}
.block--head {
  display: flex;
  flex-direction: row-reverse;
}
.headertoo {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  align-content: center;
  padding: 0;
}
.pageNeame {
  font-family: "Nunito";
  color: orange;
}
.advice {
  font-family: "NunitoExtra";
  font-size: 60px;
}
.view {
  display: flex;
  background-color: orange;
  text-align: center;
  color: white;
  border-style: groove;
  border-radius: 10%;
  width: 90px;
  height: 25px;
  padding: 15px;
}
.view:hover {
  background-color: white;
  color: orange;
  border-style: groove;
  border-radius: 10%;
}
.animals {
  border-radius: 15%;
  max-width: 250px;
  align-content: center;
  margin: auto;
}

.animals:hover {
  content: "HOLAS";
  opacity: 80%;
}
