@font-face {
  font-family: "NunitoExtra";
  src: url("Nunito-ExtraBold.ttf.woff");
}
@font-face {
  font-family: "Nunito";
  src: url("Nunito-Regular.ttf.woff");
}

* {
  font-family: "Nunito";
  margin: 0px;
  padding: 0px;
  outline: 0;
  min-height: 100%;
}
body {
  min-height: 100%;
}
.header {
  display: flex;
  min-width: max-content;
  box-shadow: 0px 2px #cecfc7;
  justify-content: space-between;
}
.logo {
  width: 5%;
  height: 5%;
  margin: 0;
  padding: 0;
  justify-self: flex-start;
}
.menu {
  width: 60%;
  justify-self: flex-end;
  margin-right: 100px;
}
.menu ul {
  list-style: none;

  padding: 0;
}

.menu ul li {
  float: left;
  margin: 5px;
  padding: 0;
  border-width: 0;
}
.menu ul > li:hover {
  background: orange;
  border-style: groove;
}
.menu ul ul {
  display: none;

  top: 100%;
  left: 0;
  background: orange;
  padding: 0;
}
.menu ul ul li {
  float: initial;
  width: 150px;
}

.menu ul ul li:hover {
  background-color: white;
}
.menu ul li:hover > ul {
  display: contents;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}
.livedemo-menu {
  list-style-type: none;
  display: none;

  padding: 0;
  float: none;
}
.livedemo-menu:hover {
  display: block;

  float: none;
}
#button--buy {
  border-style: solid;
  border-width: medium;
  border-color: #ffa500;
  border-radius: 80px;
  border-top-left-radius: 3px;
}
#button--buy:hover {
  background-color: orange;
  color: white;
  border-radius: 0% 20% 20% 20%;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.block--head {
  display: flex;
  flex-direction: row;
}
.headertoo {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  align-content: center;
  padding: 0;
}
.pageNeame {
  font-family: "Nunito";
  color: orange;
}
.advice {
  font-family: "NunitoExtra";
  font-size: 50px;
}
.view {
  display: flex;
  background-color: orange;
  margin-right: 80px;
  text-align: center;
  border-radius: 0% 10% 10% 10%;
  width: 90px;
  height: 25px;
  padding: 15px;
}
.view:hover {
  background-color: white;
  color: orange;
  border-style: solid;
  border-radius: 0% 10% 10% 10%;
}
.image-container {
  display: flex;
  justify-content: space-around;
}
.animals {
  clip-path: inset(0px 80px 0px 80px);
  max-width: 450px;
}

.animals:hover {
  content: "HOLAS";
  opacity: 80%;
}
#footer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 0;
}
